.Header .navbar {
  border-radius: 0;
}

.Header h1 {
  margin: 0;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}

.Header .navbar-inverse .navbar-brand {
  color: white;
}

.Header .navbar-inverse {
  background-color: black;
  border: none;
}

.Header .header1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.Header p {
  font-size: 10px;
  margin-bottom: 5px;
  /*height: 100%;
  width: 100%;*/
}

.Header .register {
  /*height: 30px;*/
  /*width: 30px;*/
  /*display: flex;*/
  /*align-items: flex-end;
  justify-content: center;
  align-self: baseline;*/
}

.navbar-inverse .navbar-nav>li>a:active {
  color: #fff;
  background-color: transparent
}
