.Home .active {
  color: #fff;
}

.Home .navbar {
  border-radius: 0;
}

.Home h1 {
  margin: 0;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}

.Home .navbar-inverse .navbar-brand {
  color: white;
}

.Home .navbar-inverse {
  background-color: black;
  border: none;
  margin: 0;
}

.Home .header1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.Home p {
  font-size: 10px;
  /*margin-bottom: 5px;*/
  color: white;
  /*height: 100%;
  width: 100%;*/
}

.Home .register {
  /*height: 30px;*/
  /*width: 30px;*/
  /*display: flex;*/
  /*align-items: flex-end;
  justify-content: center;
  align-self: baseline;*/
}

.Home .footer {
  /*position: fixed;*/
  height: 70px;
  /*bottom: 0;*/
  width: 100%;
  background-color: black;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Home .linked {
  margin-right: 10px;
}

.Home .summary {
  height: 400px;
  width: 100%;
  margin: 0;
  background-color: salmon;
  display: flex;
  padding: 20px 0 0 0;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /*position: relative;*/
}

.Home .summaryRow {

}

.Home .container {
  margin: 0;
  width: 100%;
}

.Home .list {
  /*border: 1px solid black;*/
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  /*position: absolute;*/
  /*top: 30px;*/
}

.Home .glyphicon-list-alt, .Home .glyphicon-education, .Home .glyphicon-briefcase, .Home .glyphicon-cog, .Home .glyphicon-wrench {
  color: white;
  font-size: 38px;
  /*margin-bottom: 2px;*/
}

.Home .sumText {
  padding: 0 10% 0 10%;
  height: 250px;
  font-size: 15px;
  overflow: scroll;
  display: flex;
  text-align: center;
  /*position: absolute;*/
  /*top: 130px;*/
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 0px;
    background-color: salmon;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }*/


.Home h3 {
  /*position: absolute;*/
  /*top: 70px;*/
  margin: 0 0 10px 0;
}

.Home .educationHeader, .Home .summaryHeader, .Home .expertiseHeader, .Home .techniquesHeader, .Home .toolsHeader {
  margin-top: 20px;
  color: white
}

.Home .education {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  background-color: black;
}

.Home .expertise {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  background-color: #9A9A9A;
}

.Home .techniques {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  background-color: white;
}

.Home .tools {
  height: 400px;
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;
  flex-direction: column;
  background-color: #007DBA;
}

.Home .about {
  /*margin-bottom: 30px;*/
  /*height: 90%;*/
}

/*.Home .glyphicon-education {
  color: white;
  font-size: 40px;
}*/

.Home .educationText, .Home .expertiseText, .Home .techniquesText, .Home .toolsText {
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.Home .college {
  margin-bottom: 10px;
}

.Home .expertiseHeader, .Home .techniquesHeader {
  color: #007DBA;
}

.Home .expertiseText, .Home .techniquesText, .Home .toolsText {
  line-height: 24px;
}

/*.Home .glyphicon-briefcase {
  color: white;
  font-size: 40px;
}*/

.Home .techniquesText {
  color: black;
}
